sudo: required

language: php
php:
  - 7.2
  - 7.3

env:
  - ESB_CONSOLE_PORT=8080 ESB_HTTP_SERVER_PORT=34981 ESB_BEANSTALKD_URL=tcp://127.0.0.1:11300 ES_BASE_URI=http://127.0.0.1:9200

cache:
  directories:
    - $HOME/.composer/cache

services:
  - docker

before_install:
  - curl -s -O https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.4.1-amd64.deb
  - sudo dpkg -i --force-confnew elasticsearch-7.4.1-amd64.deb
  - sudo sed -i.old 's/-Xms1g/-Xms512m/' /etc/elasticsearch/jvm.options
  - sudo sed -i.old 's/-Xmx1g/-Xmx512m/' /etc/elasticsearch/jvm.options
  - echo -e '-Ddiscovery.type=single-node\n-XX:+DisableExplicitGC\n-Djdk.io.permissionsUseCanonicalPath=true\n-Dlog4j.skipJansi=true\n-server\n' | sudo tee -a /etc/elasticsearch/jvm.options
  - sudo chown -R elasticsearch:elasticsearch /etc/default/elasticsearch
  - sudo systemctl start elasticsearch

install:
  - sudo apt-get update
  - sudo apt-get install beanstalkd

before_script:
  - composer install
  - composer global require maglnet/composer-require-checker && $HOME/.composer/vendor/bin/composer-require-checker --config-file=composer-require-checker.json;
  - vendor/bin/phpcs
  - vendor/bin/phpstan analyse --no-progress -l 6 -c phpstan.neon src tests

after_failure:
  - sudo bash ./upload-textfiles "/var/log/elasticsearch/*.log"

after_success:
  - docker run --rm -v $(pwd):/app nyholm/roave-bc-check roave-backwards-compatibility-check:assert-backwards-compatible --from=$(git tag | sort -V | tail -1)
