sudo: required

language: php
php:
  - 7.0
  - 7.1
  - 7.2

cache:
  directories:
    - $HOME/.composer/cache

services:
  - docker

install:
  - sudo apt-get update
  - sudo apt-get install beanstalkd

before_script:
  - composer install
  - if (( $(echo "$(phpenv version-name) >= 7.1" |bc -l) )); then composer global require maglnet/composer-require-checker && $HOME/.composer/vendor/bin/composer-require-checker --config-file=composer-require-checker.json; fi
  - vendor/bin/phpcs
  - vendor/bin/phpstan analyse --no-progress -l 6 -c phpstan.neon src tests

after_success:
  - docker run --rm -v $(pwd):/app nyholm/roave-bc-check roave-backwards-compatibility-check:assert-backwards-compatible --from=$(git describe --tags $(git rev-list --tags --max-count=1))
