version: '3.4'

services:
  php:
    build:
      context: .
    env_file:
      - .env
    environment:
      - PHP_DATE_TIMEZONE=${PHP_DATE_TIMEZONE:-UTC}
    ports:
      - "${ESB_CONSOLE_PORT}:${ESB_CONSOLE_PORT}"
      - "${ESB_HTTP_SERVER_PORT}:${ESB_HTTP_SERVER_PORT}"
    volumes:
      - .:/srv/esb:rw,cached
    working_dir: /srv/esb
    depends_on:
      - beanstalkd
      - mailhog
      - elasticsearch
    command: "bin/esb"

  beanstalkd:
    image: schickling/beanstalkd

  mailhog:
    image: mailhog/mailhog
    ports:
      - "${MAILHOG_WEB_PORT_HOST}:8025"

  elasticsearch:
    image: "docker.elastic.co/elasticsearch/elasticsearch-oss:7.4.0"
    env_file:
      - .env
    environment:
      - "discovery.type=${ES_DISCOVERY_TYPE:-single-node}"
      - "ES_JAVA_OPTS=${ES_JAVA_OPTS:--Xms512m -Xmx512m}"
    ports:
      - "${ES_PORT_HOST}:9200"
