parameters:
  beanstalkd: tcp://127.0.0.1:11300                         # Beanstalkd connection URI
  http_server_port: 34981                                   # HTTP Server Port
  critical_events_to: toemail@address.com                   # Email address where to send critical events notifications
  critical_events_from: "From Name <fromemail@address.com>" # From name/address for critical events notifications
  console_port: 8080                                        # Web console port
  console_username: admin                                   # Web console username
  console_password: password                                # Web console password

services:
  _defaults:
    autowire: true

  My\Esb\Worker:
    arguments: []

  My\Esb\Producer:
      arguments: []

flows:
  sample_flow:
    name: Sample Flow
    tube: sample_flow
    producer: My\Esb\Producer
    worker: My\Esb\Worker
    workerInstances: 1
