parameters:
  beanstalkd: tcp://127.0.0.1:11300                         # Beanstalkd connection URI
  http_server_port: 34981                                   # HTTP Server Port
  critical_events_to: toemail@address.com                   # Email address where to send critical events notifications
  critical_events_from: "From Name <fromemail@address.com>" # From name/address for critical events notifications

services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: true

  My\Esb\Namespace\:
    resource: 'src/*'
