{% extends '_layout.html.twig' %}

{% block content %}
    <h2 class="my-4">Flows</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Flow</th>
            <th scope="col">Description</th>
            <th scope="col">Jobs Count</th>
        </tr>
        </thead>
        <tbody>
        {% for flow in flows %}
            <tr>
                <th scope="row"><a href="/flow/{{ flow.code }}">{{ flow.code }}</a></th>
                <td>{{ flow.description }}</td>
                <td>{{ flow.jobsCount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
