{% extends '_layout.html.twig' %}

{% block content %}
    <h2 class="my-4">Job <small class="text-muted">{{ job.uuid }}</small></h2>

    <div class="row">
        <div class="col-xs-12">
            <h4>Payload</h4>
            <div class="card bg-light my-3">
                <div class="card-body">
                    <pre class="mb-0">{{ job|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
